{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<<<<<<< HEAD

=======
>>>>>>> 7fdfb6171e3b341a9a102a147c63606485074aaf
<body>
  {% block content %}
  {% endblock content %}
</body>

</html>
